<nav
  class="navbar navbar-expand-lg navbar-light bg-white w-100 navigation"
  id="navbar"
>
  <div class="container">
    <a class="navbar-brand font-weight-bold" routerLink="/home">RecycLivre</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#main-navbar"
      aria-controls="main-navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Our commitments </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/shop">Give or sell my Books
          </a>
        </li>
        <!-- Pages -->
        <li class="nav-item dropdown dropdown-slide">
          <a
            class="nav-link dropdown-toggle"
            routerLink="/shop"
            id="navbarDropdown4"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Shop
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <li><a routerLink="/cart">Cart</a></li>
            <li><a href="#">favorites</a></li>
           
          </ul>
        </li>
        <!-- /Pages -->
        <!-- / Blog -->

        <li class="nav-item dropdown dropdown-slide">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown3"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Search
          </a>
         
          
        </li>
        <!-- / Blog -->

        <!-- Account -->
        <li class="nav-item dropdown dropdown-slide">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown5"
            role="button"
            data-delay="350"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
          Who are We?
          </a>
          
        </li>
        <!-- / Account -->

        <li class="nav-item dropdown dropdown-slide">
          <a class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown4"
          role="button"
          data-delay="350"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">Connection</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown4">
            <li><a routerLink="/login">Sign in </a></li>
            <li><a routerLink="/signup">Create account</a></li>
           
          </ul>
        </li>
      </ul>
    </div>
    <!-- Navbar-collapse -->

    <ul class="top-menu list-inline mb-0 d-none d-lg-block" id="top-menu">
      <li class="list-inline-item">
        <a href="#" class="search_toggle" id="search-icon"
          ><i class="tf-ion-android-search"></i
        ></a>
      </li>

      <li class="dropdown cart-nav dropdown-slide list-inline-item">
        <a
          href="#"
          class="dropdown-toggle cart-icon"
          data-toggle="dropdown"
          data-hover="dropdown"
        >
          <i class="tf-ion-android-cart"></i>
        </a>
        <div class="dropdown-menu cart-dropdown">
          <!-- Cart Item -->
          <div class="media">
            <a routerLink="/product-single">
              <img
                class="media-object img- mr-3"
                src="assets/images/Christmas.jpg"
                alt="image"
              />
            </a>
            <div class="media-body">
              <h6>The Plight Before Christmas</h6>
              <div class="cart-price">
                <span>2 x</span>
                <span>$14.00</span>
              </div>
            </div>
            <a href="#" class="remove"><i class="tf-ion-close"></i></a>
          </div>
          <!-- / Cart Item -->

          <!-- Cart Item -->
          <div class="media">
            <a routerLink="/product-single">
              <img
                class="media-object img-fluid mr-3"
                src="assets/images/Venom.jpg"
                alt="image"
              />
            </a>
            <div class="media-body">
              <h6>Darling Venom</h6>
              <div class="cart-price">
                <span>1 x</span>
                <span>$16.99</span>
              </div>
            </div>
            <a href="#" class="remove"><i class="tf-ion-close"></i></a>
          </div>
          <!-- / Cart Item -->

          <div class="cart-summary">
            <span class="h6">Total</span>
            <span class="total-price h6">$44.99</span>

            <div class="text-center cart-buttons mt-3">
              <a
                routerLink="/cart"
                class="btn btn-small btn-transparent btn-block"
                >View Cart</a
              >
              <a routerLink="/checkout" class="btn btn-small btn-main btn-block"
                >Checkout</a
              >
            </div>
          </div>
        </div>
      </li>
      <li class="dropdown cart-nav dropdown-slide list-inline-item">
        <a
          routerLink="/login"
          class="dropdown-toggle cart-icon"
          data-toggle="dropdown"
          data-hover="dropdown"
          ><i class="tf-ion-ios-person mr-3"></i
        ></a>
        <div class="dropdown-menu cart-dropdown">
          <!-- Cart Item -->

          <!-- / Cart Item -->

          <div class="cart-summary">
            <div class="text-center cart-buttons mt-3">
              <a
                routerLink="/profile"
                class="btn btn-small btn-transparent btn-block"
                >Profile</a
              >
              <a  class="btn btn-small btn-main btn-block"(click)='logout()'
                >Logout</a
              >
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
